// Colors
$color-primary-black: #000000;
$color-primary-yellow: #F4B315;
$color-primary-white: #FFFFFF;
$color-primary-gray: #252525;

$color-success: #4EB168;
$color-warning: #F3D147;
$color-error: #FF0000;

// Font
$font-family: 'Quicksand', sans-serif;

$titulo-font-size: 40px;

$subtitulo-font-size: 20px;

$parrafo-font-size: 13px;